{% extends 'base.html' %}

{% block title %}
Status viewing
{% endblock title %}

{% block body %}
  <div class="forBody1">
    <h1>Here's your latest status</h1>
      {% if flag==0 %}
          <h3>You have no status yet! Upload from your dashboard</h3>
      {% else %}
      <div style="justify-content: center; display: flex;"><img
        src="{{ url_for('statusImg') }}"></div>
        <br>
        <h3>Description:</h3>
        <p>{{ desc }}</p>
      {% endif %}
    <a href="{{ url_for('dashboard') }}">Back to dashboard</a>
  </div>
{% endblock body %}